<%- contentFor('body') %>
<div class="row">
    <% for(let i=0; i < bills.length; i++) { %>
    <div class="col s12 m3 l3">
        <div class="card darken-1">
            <div class="card-content">
                <span class="card-title">Compra</span>
                <p><b>Id:</b> <%= bills[i].id %></p>
                <p><b>Status:</b> <%= bills[i].status %></p>
                <p><b>Vencimento:</b> <%= bills[i].dueDate %></p>
                <p><b>Dia de fechamento:</b> <%= bills[i].closeDate %></p>
                <p><b>Balanço total:</b> <%= bills[i].totalBalance %></p>
                <p><b>Taxa de juros:</b> <%= bills[i].interestRate %></p>
                <p><b>Juros Aplicados:</b> <%= bills[i].interest %></p>
                <p><b>Pago:</b> <%= bills[i].paid %></p>
                <p><b>Pagamento mínimo:</b> <%= bills[i].minimumPayment %></p>
                <p><b>Data:</b> <%= bills[i].createdAt %></p>
            </div>
        </div>
    </div>
    <% } %>
</div>