<%- contentFor('body') %>
<div class="jumbotron text-center">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="center">
                <h3>Bank Scraper</h3>
            </div>
            <form action="/qrcode" method="POST">
                <div class="form-group">
                    <label>Usuário</label>
                    <input type="text" name="login" required class="form-control">
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" name="password" required class="form-control">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>