<%- contentFor('body') %>
<div class="jumbotron text-center">
    <form action="/balance" method="POST">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="center">
                <img src="<%= qrCode %>" alt="">
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
            </div>
        </div>
    </form>
</div>